<ng-container *ngIf="collegue; else elseBlock">
  <div class="text-center mt-5">
    <img [src]="collegue.photo">
    <p>{{ collegue.nom | uppercase}} - {{ collegue.prenom | uppercase}}</p>
    <p SColor>{{ collegue.score | score}}</p>
  </div>
  <app-avis
    (avis)="incrementScore($event, collegue)"
    [desactiveJaime]="desactiverJaime"
    [desactiveDeteste]="desactiverDeteste">
  </app-avis>
</ng-container>
<ng-template #elseBlock>
  <div>
    Oops - Collègue obligatoire
  </div>
</ng-template>


